<%- include("header"); -%>
<main class="page landing-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Edit training</h2>
      </div>
      <% let x = "/training/update/" + val._id %>
      <form method="POST" action="<%= x %>">
        <div class="form-group"><label for="name">Training name</label><input class="form-control item" type="text" id="name"
            name="name" value="<%= val.name %>"></div>
        <div class="form-group"><label for="mentor">Mentor</label><input class="form-control item" type="text" id="mentor"
            name="mentor" value="<%= val.mentor %>"></div>
        <div class="form-group"><label for="phone">Phone</label><input class="form-control item" type="tel" id="phone"
            name="phone" value="<%= val.phone %>"></div>
        <div class="form-group"><label for="room">Room</label><input class="form-control item" type="text" id="room"
            name="room" value="<%= val.room %>"></div>
        <div class="form-group"><label for="startDate">Start Date</label><input class="form-control item" type="date" id="startDate"
            name="startDate" value="<%= val.startDate %>"></div>
        <div class="form-group"><label for="endDate">End Date</label><input class="form-control item" type="date" id="endDate"
            name="endDate" value="<%= val.endDate %>"></div>
        <div class="form-group"><label for="meet">Google meet link</label><input class="form-control item" type="url" id="meet"
            name="meet" value="<%= val.meet %>"></div>
        <div class="form-group"><label for="link">Material link</label><input class="form-control item" type="url" id="link"
            name="link" value="<%= val.link %>"></div>
        <div class="form-group"><label for="imgPath">Link Ảnh</label><input class="form-control item" type="text" id="imgPath"
            name="imgPath" value="<%= val.imgPath %>"></div>
        <div class="form-group"><label for="brief">Giới thiệu</label><textarea class="form-control item" type="text" id="brief"
            name="brief"><%= val.brief %></textarea></div>
        <div class="form-group"><label for="popular">Độ phổ biến</label><textarea class="form-control item" type="text" id="popular"
            name="popular"><%= val.popular %></textarea></div>
        <div class="form-group"><label for="requirement">Yêu cầu</label><textarea class="form-control item" type="text" id="requirement"
            name="requirement1"><%= val.requirement1 %></textarea></div>
        <div class="form-group"><label for="syllabus">Syllabus</label><textarea class="form-control item" type="text" id="syllabus"
            name="syllabus"><%= val.syllabus %></textarea></div>
        </br>
        <button class="btn btn-primary btn-block" type="submit">Edit training</button>
      </form>
    </div>
  </section>
</main>
<%- include("footer"); -%>
