<%- include("header"); -%>

    <main class="page">
        <section class="clean-block features">
            <div class="container profile profile-view" id="profile">
                <div class="row">
                    <div class="col-md-12 alert-col relative">
                        <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
                    </div>
                </div>
                <form action="/users/update" method="POST">
                    <div class="form-row profile-row">
                      <div class="col-md-4 relative">
                        <label>Ảnh đại diện</label>
                        <br>
                        <button type="button" style="display: none;" class="btn btn-danger" id="errorText"></button>
                        <button type="button" style="display: none;" class="btn btn-success" id="successText">Successfully uploaded</button>
                        <button type="button" style="display: none;" class="btn btn-warning" id="pendingText">Uploading...</button>
                        <div class="avatar">
                            <div class="avatar-bg center"></div>
                        </div><input type="file" class="form-control" id="avatar">
                      </div>
                        <div class="col-md-8">
                            <h1>Cập nhật thông tin cá nhân</h1>
                            <hr>
                              <div class="form-row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Tên</label><input class="form-control" type="text" name="name" value="<%= user.name %>"></div>
                                  </div>
                                  <div class="form-group col-sm-12 col-md-6">
                                    <label for="inputState">Ban</label>
                                    <select id="role" class="form-control" name="role">
                                      <option selected><%= user.role %></option>
                                      <option>Chuyên môn</option>
                                      <option>Đối ngoại</option>
                                      <option>Truyền Thông</option>
                                      <option>Văn Hoá</option>
                                      <option>Nội dung</option>
                                      <option>Khác</option>
                                    </select>
                                  </div>
                                  <div class="col"><label>Số điện thoại</label><input class="form-control" type="text" name="phone" value="<%= user.phone %>"></div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Niên khoá (bằng số) </label><input class="form-control" type="number" autocomplete="off" name="gen" value="<%= user.gen %>"></div>
                                  </div>
                              </div>
                              <div class="form-row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Ngày sinh</label><input class="form-control" type="date" name="dob" autocomplete="off" value="<%= user.dob %>"></div>
                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Nơi ở&nbsp;</label><input class="form-control" type="text" name="home" autocomplete="off" value="<%= user.home %>"></div>
                                  </div>
                              </div>
                              <input type="text" style="display:none;" value="" name="avatarFile" id="avatar-file">
                              <hr>
                              <a href="/users/changePassword/1">Đổi mật khẩu</a>
                              <br>
                              <br>
                              <div class="form-row">
                                  <div class="col-md-12 content-right"><button class="btn btn-primary form-btn mr-1" type="submit">LƯU</button><button class="btn btn-danger form-btn" type="reset">HỦY</button></div>
                              </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script>
      $("document").ready(function() {
        $('input[type=file]').on("change", function() {
          if ($(this).get(0).files.length > 0) {
            $("#successText").css("display", "none")
            $("#errorText").css("display", "none")
            let file = $(this).get(0).files[0]
            let fileSize = file.size / 1024 / 1024
            if (fileSize > 2) {
              $('#errorText').css("display", "")
              $('#errorText').text("Please enter file size smaller than 2Mb")
              return false
            }
            $("#pendingText").css("display", "")
  
            var myHeaders = new Headers();
            myHeaders.append("Authorization", "Client-ID 9fb3ad5364e669c");
  
            var formdata = new FormData();
            formdata.append("image", file);
  
            var requestOptions = {
              method: 'POST',
              headers: myHeaders,
              body: formdata,
              redirect: 'follow'
            };
  
            fetch("https://api.imgur.com/3/image", requestOptions)
              .then(response => response.text())
              .then(result => {
                let x = JSON.parse(result)
                $("#pendingText").css("display", "none")
                if (x.data.error) {
                  $('#errorText').css("display", "")
                  $('#errorText').text(x.data.error.message)
                } else {
                  $('#avatar-file').attr("value", x.data.link);
                  $('#successText').css("display", "")
                }
              })
              .catch(error => console.log('error', error));
          }
        });
      });
      
    </script>

<%- include("footer"); -%>