<%- include("header"); -%>

    <main class="page">
        <section class="clean-block features">
            <div class="container profile profile-view" id="profile">
                <div class="row">
                    <div class="col-md-12 alert-col relative">
                        <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
                    </div>
                </div>
                <form action="/users/update" method="POST">
                    <div class="form-row profile-row">
                        <div class="col-md-4 relative">
                            <div class="avatar">
                                <div class="avatar-bg center"></div>
                            </div>
                            <label>Link ảnh đại diện</label>
                            <input type="text" class="form-control" name="avatarFile">
                        </div>
                        <div class="col-md-8">
                            <h1>Cập nhật thông tin cá nhân</h1>
                            <hr>
                              <div class="form-row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Tên</label><input class="form-control" type="text" name="name" value="<%= user.name %>"></div>
                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Ban</label><input class="form-control" type="text" name="role" value="<%= user.role %>"></div>
                                  </div>
                                  <div class="col"><label>Số điện thoại</label><input class="form-control" type="text" name="phone" value="<%= user.phone %>"></div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Niên khoá (bằng số) </label><input class="form-control" type="number" autocomplete="off" name="gen" value="<%= user.gen %>"></div>
                                  </div>
                              </div>
                              <div class="form-row">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Ngày sinh</label><input class="form-control" type="date" name="dob" autocomplete="off" value="<%= user.dob %>"></div>
                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-group"><label>Nơi ở&nbsp;</label><input class="form-control" type="text" name="home" autocomplete="off" value="<%= user.home %>"></div>
                                  </div>
                              </div>
                              <hr>
                              <a href="/users/changePassword/1">Đổi mật khẩu</a>
                              <br>
                              <br>
                              <div class="form-row">
                                  <div class="col-md-12 content-right"><button class="btn btn-primary form-btn mr-1" type="submit">LƯU</button><button class="btn btn-danger form-btn" type="reset">HỦY</button></div>
                              </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

<%- include("footer"); -%>