<%- include("header"); -%>
   <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Bản tin</h2>
                    <p>Chỉ có làm chịu khó cần cù thì bù siêng năng. Chỉ có làm thì mới có ăn. Những cái loại không làm mà đòi có ăn thì ...</p>
                </div>
                <div class="block-content">
                  <% for (let j = posts.length - 1; j >= 0; -- j) { %>
                    <% let i = posts[j] %>
                    <% let id2 = "bmodal-" + j.toString() %>
                    <div class="modal micromodal-slide" id="<%= id2 %>" aria-hidden="true">
                      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title<%=i._id%>">
                          <header class="modal__header">
                            <h1 class="modal__title" id="modal-1-title<%=i._id%>">
                              Do you really want to delete this training? 
                            </h1>
                            <br>
                            <br>
                            <br>
                            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                          </header>
                          <footer class="modal__footer">
                            <form action="/posts/delete/<%=i._id%>" method="POST" style="display: inline; margin-right: 10px;">
                              <button class="modal__btn modal__btn-primary">Yes</button>
                            </form>
                            <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid dmmImg2" src="<%= i.imgPath %>"></div>
                            <div class="col-lg-7">
                                <h3><%= i.name %></h3>
                                <div class="info"><span class="text-muted"><%= i.date %> by&nbsp;<a href="#"><%= i.createdBy %></a></span></div>
                                <%- i.brief %><br><br>
                                <form class="dmmImg3" action="/posts/<%= i._id %>" method="GET" style="display: inline;">
                                  <button class="btn btn-outline-primary btn-sm mr-1" type="submit">Read More</button>
                                </form>
                                <% try { if (typeof user.post !== 'undefined' && user.post !== null) {%>
                                  <form action="/posts/edit/<%= i._id %>" method="GET" style="display: inline;">
                                    <button class="btn btn-warning btn-sm mr-1" type="submit">Edit Post</button>
                                  </form>
                                  <button class="btn btn-danger btn-sm myButton2" id="<%= j %>">Delete Post</button>
                                <% } } catch (e) {} %>
                              </div>
                        </div>
                    </div>
                  <% } %>
                </div>
                <br>
                <br>
                <br>
                <br>
                <% try { if (typeof user.post !== 'undefined' && user.post !== null) { %>
                  <form action="add">
                    <button class="btn btn-primary btn-lg" type="submit" href="addPost">Thêm post</button>
                  </form>
                <% } } catch (e) {} %>
            </div>
        </section>
    </main>
<%- include("footer"); -%>
