<%- include("header"); -%>

    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                          <% let src = (user.avatarFile == undefined ? "assets/img/avatars/1.jpg" : user.avatarFile) %>
                            <div><img class="rounded-circle mr-3" style="height: 50px; width: 50px;" src="<%= src %>"><p>@<%= user.username %></p></div>
                            <div class="media-body">
                                <ul class="list-unstyled fa-ul">
                                    <% if (user.name) { %>
                                      <li><i class="fas fa-user fa-li" style="font-size: 16px;"></i><%= user.name %></li>
                                    <% } %>
                                    <% if (user.sex) { %>
                                      <% if (user.sex == 1) { %>
                                        <li><i class="fas fa-male fa-li"></i>Nam</li>
                                      <% } else { %>
                                        <li><i class="fas fa-female fa-li"></i>Nữ</li>
                                      <% } %>
                                    <% } %>
                                    <% if (user.role) { %>
                                      <li><i class="fas fa-user-tag fa-li"></i><%= user.role %></li>
                                    <% } %>
                                    <% if (user.phone) { %>
                                      <li><i class="fas fa-phone fa-li"></i><%= user.phone %></li>
                                    <% } %>
                                    <li><i class="fas fa-envelope fa-li"></i><%= user.email %></li>
                                </ul>
                            </div>
                        </div>
                        <div></div>
                        <hr>
                        <form action="/users/request" method="POST">
                          <% if (typeof user.post === 'undefined' || !user.post) { %>
                          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox1" name="post"><label class="form-check-label" for="checkbox1">Thêm, chỉnh sửa bài viết</label></div>
                          <% } %>
                          <% if (typeof user.training === 'undefined' || !user.training) { %>
                          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox2" name="training"><label class="form-check-label" for="checkbox2">Thêm, chỉnh sửa training</label></div>
                          <% } %>
                          <% if (typeof user.cfs === 'undefined' || !user.cfs) { %>
                          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox3" name="cfs"><label class="form-check-label" for="checkbox3">Phê duyệt confessions</label></div>
                          <% } %>
                          <% if (typeof user.permission === 'undefined' || !user.permission) { %>
                          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox4" name="permission"><label class="form-check-label" for="checkbox4">Phê duyệt các yêu cầu quyền quản trị</label></div>
                          <% } %>
                          <% if (typeof user.admin === 'undefined' || !user.admin) { %>
                          <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox5" name="admin"><label class="form-check-label" for="checkbox5">Quản lý các users</label></div>
                          <br>
                          <% } %>
                          <div class="form-row">
                            <div class="col-md-12 content-right"><button class="btn btn-warning form-btn mr-1" type="submit">Request</button></div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include("footer"); -%>