<%- include("header"); -%>
<style>
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
  }
  .btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
  }
</style>
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Danh sách các buổi training</h2>
                    <p>Các thành viên phải tham gia đầy đủ đúng giờ các buổi. Các mentor gửi lại slide cho trưởng ban.</p>
                </div>
                <div class="block-content">
                  <% for (let j in trainings) { %>
                    <% let i = trainings[j], id = "modal-" + j.toString() %>
                    <div class="modal micromodal-slide" id="<%= id %>" aria-hidden="true">
                      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                          <header class="modal__header">
                            <h1 class="modal__title" id="modal-1-title">
                              <%= i.name %>
                            </h1>
                            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                          </header>
                          <main class="modal__content" id="modal-1-content">
                            <h3 style="font-weight: 600;">Giới thiệu</h3>
                            <p>
                              <%= i.brief %>
                            </p>
                            <h3 style="font-weight: 600;">Độ phổ biến</h3>
                            <p><%= i.popular %></p>
                            <h3 style="font-weight: 600;">Yêu cầu</h3>
                            <%- i.requirement %>
                            <h3 style="font-weight: 600;">Syllabus</h3>
                            <%= i.syllabus %>
                          </main>
                        </div>
                      </div>
                    </div>
                    <% let id1 = "amodal-" + j.toString() %>
                    <div class="modal micromodal-slide" id="<%= id1 %>" aria-hidden="true">
                      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
                        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                          <header class="modal__header">
                            <h1 class="modal__title" id="modal-1-title">
                              Do you really want to delete this training? 
                            </h1>
                            <br>
                            <br>
                            <br>
                            <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                          </header>
                          <footer class="modal__footer">
                            <form action="/training/delete/<%=i._id%>" method="POST" style="display: inline; margin-right: 10px;">
                              <button class="modal__btn modal__btn-primary">Yes</button>
                            </form>
                            <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 dmDivImg"><img class="rounded img-fluid" src="<%= i.imgPath %>" ></div>
                            <div class="col-lg-7">
                              
                              <h3><%= i.name %></h3>
                              <br>
                              <ul class="list-unstyled fa-ul">
                                <li><i class="fas fa-user fa-li" style="font-size: 16px;"></i><%= i.mentor %></li>
                                <li><i class="fas fa-phone fa-li"></i><%= i.phone %></li>
                                <li><i class="fas fa-location-arrow fa-li"></i><%= i.room %></li>
                                <li><i class="fas fa-calendar fa-li"></i><%= i.startDate %></li>
                                <li><i class="far fa-calendar fa-li"></i><%= i.endDate %></li>
                                <li><i class="fas fa-video fa-li"></i><a href=""><%= i.meet %></a></li>
                                <li><i class="fas fa-link fa-li"></i><a href=""><%= i.link %></a></li>
                              </ul>
                              <% let ok = 0 %>
                              <% if (profile && profile.training) { %>
                              <% for (let k of profile.training) {%>
                              <% if (k == i._id) {%>
                              <% ok = 1 %>
                              <% } %>
                              <% } %>
                              <% } %>
                              <% if ( login == 1 && ( ok != 1 ) ) { %>
                                <% let s = "/training/register/" + i._id %>
                                <form action="<%= s %>" method="POST" style="display: inline;" class="modiItem">
                                  <button class="btn btn-outline-success btn-sm mr-1" type="submit">Đăng ký tham gia</button>
                                </form>
                              <% } else if (login == 1) { %>
                                <button class="btn btn-success btn-sm mr-1" type="button"><i class="fas fa-check"></i>Đã đăng ký tham gia</button>
                              <% } else { %>
                                <form action="/login" method="GET" style="display: inline;" class="modiItem">
                                  <button class="btn btn-outline-success btn-sm mr-1" type="submit">Đăng ký tham gia</button>
                                </form>
                              <% } %>
                              <button class="btn btn-outline-primary btn-sm mr-1 myButton">Chi tiết</button>
                              <% if (admin == 1) { %>
                                <% let sedit = "/training/edit/" + i._id %>
                                <form action="<%= sedit %>" style="display: inline;"  method="GET">
                                  <button class="btn btn-warning btn-sm mr-1" type="submit">Chỉnh sửa bài viết</button>
                                </form>
                                  <button class="btn btn-danger btn-sm myButton1">Xoá bài viết</button>
                              <% } %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <% if (admin == 1) { %>
                    <form action="addTraining">
                      <button class="btn btn-primary btn-lg" type="submit" href="addTraining">Thêm training</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include("footer"); -%>