<%- include("header"); -%>

    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Danh sách các buổi training</h2>
                    <p>Các thành viên phải tham gia đầy đủ đúng giờ các buổi. Các mentor gửi lại slide cho trưởng ban.</p>
                </div>
                <div class="block-content">
                  <% for (let i of trainings) { %>
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5 dmDivImg"><img class="rounded img-fluid dmmImg" src="" ></div>
                            <p class="dmpivot"><%= i.imgPath %></p>
                            <div class="col-lg-7">
                              <h3><%= i.name %></h3>
                              <br>
                              <ul class="list-unstyled fa-ul">
                                <li><i class="fas fa-user fa-li" style="font-size: 16px;"></i><%= i.mentor %></li>
                                <li><i class="fas fa-phone fa-li"></i><%= i.phone %></li>
                                <li><i class="fas fa-location-arrow fa-li"></i><%= i.room %></li>
                                <li><i class="fas fa-calendar fa-li"></i><%= i.startDate %></li>
                                <li><i class="far fa-calendar fa-li"></i><%= i.endDate %></li>
                                <li><i class="fas fa-video fa-li"></i><a href=""><%= i.meet %></a></li>
                                <li><i class="fas fa-link fa-li"></i><a href=""><%= i.link %></a></li>
                              </ul>
                              <button class="btn btn-outline-primary btn-sm" type="button">Chi tiết</button>
                              <button class="btn btn-outline-warning btn-sm" type="button">Đăng ký tham gia</button>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <% if (login == 1) { %>
                    <form action="addTraining">
                      <button class="btn btn-primary btn-lg" type="submit" href="addTraining">Thêm training</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <script>
      let a = document.getElementsByClassName("dmpivot");
      let b = document.getElementsByClassName("dmmImg");
      for (let i in a) {
        b[i].setAttribute("src", a[i].textContent)
        a[i].hidden = true
      }
    </script>
    <%- include("footer"); -%>