<%- include("header"); -%>

    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                          <% let src = (user.avatarFile == undefined ? "assets/img/avatars/1.jpg" : user.avatarFile) %>
                            <div><img class="rounded-circle mr-3" style="height: 50px; width: 50px;" src="<%= src %>"><p>@<%= user.username %></p></div>
                            <div class="media-body">
                                <ul class="list-unstyled fa-ul">
                                    <% if (user.name) { %>
                                      <li><i class="fas fa-user fa-li" style="font-size: 16px;"></i><%= user.name %></li>
                                    <% } %>
                                    <% if (user.sex) { %>
                                      <% if (user.sex == 1) { %>
                                        <li><i class="fas fa-male fa-li"></i>Nam</li>
                                      <% } else { %>
                                        <li><i class="fas fa-female fa-li"></i>Nữ</li>
                                      <% } %>
                                    <% } %>
                                    <% if (user.role) { %>
                                      <li><i class="fas fa-user-tag fa-li"></i><%= user.role %></li>
                                    <% } %>
                                    <% if (user.phone) { %>
                                      <li><i class="fas fa-phone fa-li"></i><%= user.phone %></li>
                                    <% } %>
                                    <li><i class="fas fa-envelope fa-li"></i><%= user.email %></li>
                                    <br>
                                    <br>
                                    <% if (update) { %>
                                      <li><a href="/users/update" style="color: blue;">Thay đổi thông tin cá nhân</a></li>
                                      <li><a href="/users/request" style="color: red;">Yêu cầu quyền quản trị</a></li>
                                      <li><a href="/users/request/status" style="color: #FFC107;">Kiểm tra các quyền đã yêu cầu</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div></div>
                        <hr>
                        <% if (user.gen) { %>
                          <p><i class="fa fas fa-ad"></i> Khoá K<%= user.gen %><br>
                        <% } %>
                        <% if (user.home) { %>
                        <p><i class="fa fa-home fa-fw"></i><%= user.home %><br>
                        <% } %>
                        <% if (user.dob) { %>
<span class="text-muted"><i class="fa fa-calendar fa-fw"></i>&nbsp;<%= user.dob %></span></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main>

<%- include("footer"); -%>